.navbar {
	width:100%;
	height:100px;
	background-color:#009999; 
	display:flex;
}

.navbar > span {
	color:white;
	font-size: 2em;
	font-family:Helvetica; 
	width:100%;
	line-height: 100px;
	text-align: center;
}

.subNavbar {
	height:10px;
	width:100%;
	background-color: #ff9933;
}

.pageContent {
	display: flex;
	width:100%;
	height:100vh;
	margin-top:10px;
}

.doughnutSection {
	width:55%;
	height: 100%;
	margin:0 auto;
}

.buttonSection {
	width: 60%;
  	margin: 0 auto;
  	padding-top:5%;
}

.option {
	margin-top:10px;
}

.checkboxesSection, .checkboxesDataSection {
	display: flex;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	padding-top: 10px;
}

.checkboxesSection > div, .checkboxesDataSection > div {
	margin-left:10px;
	margin-right: 10px;
}

button {
	width:100px;
	height:50px;
	background-color:#009999; 
	color:white;
	font-family: Helvetica;
	font-weight: bold;
}

#submitCheckboxes, #submitDataCheckboxes {
	height:40px !important;
}

.compareLbl {
	color:#009999;
	font-weight: bold;
	font-size: 1.3em;
}
